<section data-ng-controller="SuperherosController" data-ng-init="findOne()">
    <div class="page-header col-md-offset-2 col-md-8">
        <h1>Edit Superhero</h1>
    </div>
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <!--Name Input Box-->
                    <label class="control-label" for="version">Version</label>
                    <div class="controls">
                        <input type="text" data-ng-model="superhero.version" id="version" class="form-control"  required>
                    </div>
                    <!--CodeName Input Box-->
                    <label class="control-label" for="notifiee">Notifiee</label>
                    <div class="controls">
                        <input type="text" data-ng-model="superhero.notifiee" id="notifiee" class="form-control"  required>
                    </div>
                    <!--description-->
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea class="form-control" rows="3" id='description' data-ng-model='superhero.description' required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="form-control btn btn-black">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>