li .remove-icon {
	color: #AA3333;
}

li:hover .pointer {
	cursor: pointer;
}

.disable {
	pointer-events: none;
	cursor: not-allowed;
}

li:hover .disable {
	cursor: not-allowed;
}


.facebook {
	position: absolute;
	margin-top: -30px;
	margin-left: 10px;
}

.facebook div{
	height:20px;
	width:10px;
	display:inline-block;
	background-color: #56bbdb;
	border:1px solid #217c99;


	-webkit-animation:facebook_loader 1.3s linear infinite;
	animation:facebook_loader 1.3s linear infinite;

	-webkit-transform: scale(0.91);
	transform: scale(0.91);
}

.facebook div:nth-child(1){
	-webkit-animation-delay:0.39s;
	animation-delay:0.39s;
}
.facebook div:nth-child(2){
	-webkit-animation-delay:0.52s;
	animation-delay:0.52s;
}
.facebook div:nth-child(3){
	-webkit-animation-delay:0.65s;
	animation-delay:0.65s;
}

@-webkit-keyframes facebook_loader{
	0%{
		-webkit-transform:scale(1.2);
		opacity:1
	}

	100%{
		-webkit-transform:scale(0.7);
		opacity:0.1
	}
}

@keyframes facebook_loader{
	0%{
		transform:scale(1.2);
		opacity:1
	}

	100%{
		transform:scale(0.7);
		opacity:0.1
	}
}

